@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --fonte-principal: 'Montserrat', sans-serif;
}

body {
 background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-family: var(--fonte-principal);
}

p{
font-family: var(--fonte-principal); 
  font-size: 30px;
  color: black;
}

.clausula{
  font-size: 20px;
  color: black;
  text-align: center;
}

.c-header, .c-main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-header img {
  width: 15rem;
  border-radius: 5rem;
  border: 3px solid black;
}

button{
  padding: 1rem;
  border: 2px solid black;
  border-radius: 2rem;
    font-family: var(--fonte-principal);
}

input{
   padding: .5rem;
  border: 2px solid black;
  border-radius: 2rem;
  margin-bottom: 1rem; 
}

#whatsapp{
  padding: 2rem;
  font-size: 25px;
}
